.footer__copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: 14px;
        margin-top: 48px;
        position: static;
    }
}